<% include partials/header.ejs %>
<% var answer_count = 0; %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><%= q_category.questions.length %> <%= q_category.category %></h1>
      <% if (admin) { %>
        <a href="/q/add/<%= q_category._id %>" class="btn btn-default">Add Question</a>
      <% } %>
        <a href="/qa" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to categories</a>
        <button class="btn btn-default" id="quiz_me">QUIZ ME</button>
        <% if (user) { %>
        <button class="btn btn-default" id="toggle-answers">show / hide all answers</button>
        <% } %>
        <% if (user) { %>
        <em><span id="answer-count"></span> of <%= q_category.questions.length %> answered (<span id="percent"></span>)</em>
        <% } %>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="list-group">
        <% q_category.questions.forEach(function(q, i) { %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= q.question %></h3>
            </div>
            <div class="panel-body">
              <% foundAnswer = false; %>
              <% if (user) { %>
                <% answers.forEach(function(a, j) { %>
                  <% if (a.question.id.toString() == q._id.toString()) { %>
                    <a class="btn btn-default btn-xs" href="/a/edit/<%= a._id %>"><i class="fa fa-pencil"></i>&nbsp; edit</a>
                    <button class="btn btn-default answer-delete btn-xs" data-id="<%= a._id %>"><i class="fa fa-trash"></i> delete</button>
                    <button class="btn btn-default show-answer btn-xs" data-sid="<%= a._id %>">show / hide answer</button>
                    <% if (a.mark === '1') { %>
                      <span><i class="fa fa-check fa-lg"></i> correct</span>
                    <% } else if (a.mark === '2') { %>
                      <span><i class="fa fa-meh-o fa-lg" aria-hidden="true"></i> unsure</span>
                    <% } %>
                    <br>
                    <span class="answer" data-aid="<%= a._id %>"><%= a.answer %><span>
                    <% foundAnswer = true %>
                    <% answer_count++; %>
                  <% } %>
                <% }) %>
                <% if (!foundAnswer) { %>
                  <a class="btn btn-default answer-btn btn-xs" href="/a/add/<%= q._id %>/<%= q_category._id %>" id="answer-<%= q._id %>"><i class="fa fa-plus"></i>&nbsp; answer</a>
                <% } %>
              <% } %>
              <% if (admin) { %>
              <hr>
              <a href="/q/edit/<%= q._id %>/<%= q_category._id %>" class="btn btn-default"><i class="fa fa-pencil"></i></a>
              <button class="btn btn-default delete" data-id="<%= q._id %>" data-name="<%= q.category %>"><i class="fa fa-trash"></i></button>
              <% } %>
              <span class="pull-right"><a href="https://www.google.com/search?q=<%= q.question %>" target="_blank"><i class="fa fa-link"></i></a>
              </span>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/markdown.ejs %>
<script>
$(function() {
  // cascading ejs script renders answer count 0, this circumvents that
  $('#answer-count').text('<%= answer_count %>');
  $('#percent').text(' ' + <%= Math.floor((answer_count/q_category.questions.length)*100) %> + '% ');

  $('.answer').each(function() {
    $(this).html(marked($(this).text()));
  });

  $('.panel-title').each(function() {
    $(this).html(marked($(this).text()));
  });

  $('#toggle-answers').click(function() {
    $('.answer').toggle();
  });

  $('.show-answer').click(function() {
    var id = $(this).data('sid');
    $('span[data-aid="' + id + '"]').toggle();
  });

  $('.answer-delete').click(function() {
    var a_id = $(this).data('id');
    var askDelete = confirm('Are you sure you want to delete this answer?');
    if (askDelete) {
      $.ajax({
        type: 'DELETE',
        url: '/a/delete',
        data: { a_id: a_id },
        dataType: 'json'
      }).done(function() {
        location.reload();
      }).fail(function(err) {
        alert('Failed to delete answer');
      });
    }
  });

  $('#quiz_me').click(function() {
    var num = prompt('How many quiz items do you want? (enter a number between 1 and <%= q_category.questions.length %>)');
    if (parseInt(num) && parseInt(num) <= <%= q_category.questions.length %>) {
      window.location = '/quiz/category/' + num + '/' + '<%= q_category._id %>';
    }
  });

  $('.list-group-item').hover(function() {
    var id = $(this).data('id');
    $('#answer-' + id).css('opacity', '1');
  }, function() {
    var id = $(this).data('id');
    $('#answer-' + id).css('opacity', '0');
  });

  $('.delete').click(function() {
    var id = $(this).data('id'),
        question = $(this).data('name');
    var askDelete = confirm('Are you sure you want to delete ' + question);
    console.log(id);
    if (askDelete) {
      $.ajax({
        type: 'POST',
        url: '/q/delete/?_method=DELETE',
        data: { id: id, cat_id: '<%= q_category._id %>' },
        dataType: 'json'
      }).done(function() {
        location.reload();
      }).fail(function() {
        alert('Failed to delete ' + category);
      });
    }
  });
});
</script>
<% include partials/prettyprint.ejs %>
<% include partials/footer.ejs %>
